---
import ButtonCard from '@components/ButtonCard.astro';
// filepath: src/components/EnEmision.astro
let enEmision = [];
try {
  const res = await fetch('https://api.jikan.moe/v4/anime?status=airing&order_by=popularity&sort=asc&limit=6');
  if (!res.ok) {
    throw new Error('Error al cargar los animes en emisión');
  }
  const data = await res.json();
  enEmision = data.data
    .filter((anime: { status: string }) => anime.status === "Currently Airing")
    .slice(0, 6);
} catch (error) {
  enEmision = [];
}
---

<section class="finalizados">
  <h2>En emisión</h2>
  <ul class="finalizados-list">
     {enEmision.map((anime: { images: { jpg: { image_url: string } }, title: string, mal_id: number }) => (
      <li class="finalizado-item">
        <img src={anime.images.jpg.image_url} alt={anime.title} width="50" />
        <span>{anime.title}</span>
        <ButtonCard mal_id={anime.mal_id} />
      </li>
    ))}
  </ul>
</section>

<style>
.finalizados {
  width: 100%;
  padding: 2rem;
  background-color: var(--color-background);
}
.finalizados h2 {
  font-size: 1.5rem;
  color: var(--color-text);
  margin-bottom: 1rem;
}
.finalizados-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}
.finalizado-item {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: #f0f0f0;
  padding: 0.5rem;
  border-radius: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: transform 0.3s, box-shadow 0.3s;
}
.finalizado-item:hover {
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0 8px 24px rgba(0,0,0,0.15);
  cursor: pointer;
}
.finalizado-item img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}
.finalizado-item span {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
</style>