---
// Archivo Astro
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";

const { title } = Astro.props;
---

<Layout title={title}>
	<div class="grid__container">
		<header class="header">
			<Header />
		</header>
		<section class="main">
			<slot />
		</section>
		<footer class="foot">
			<Footer />
		</footer>
	</div>
</Layout>

<style>
	.grid__container {
		display: grid;
		gap: 20px;
		grid-template-columns: 1fr;
		grid-template-areas:
			"header"
			"main"
			"foot";
	}

	.header {
		grid-area: header;
	}

	.main {
		grid-area: main;
		min-height: 100dvh;
        text-align: center;
	}

	.foot {
		grid-area: foot;
	}

	/* Tablets */
	@media screen and (min-width: 768px) {
		.grid__container {
			grid-template-columns: 1fr 2fr;
			grid-template-areas:
				"header header"
				"main main"
				"foot foot";
		}
	}

	/* Desktop */
	@media screen and (min-width: 1024px) {
		.grid__container {
			grid-template-columns: 1fr 3fr 1fr;
			grid-template-areas:
				"header header header"
				"main main main"
				"foot foot foot";
		}
	}
</style>
